.register-page .ant-card-head-title {
  text-align: center;
}

.register-page .ant-card {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24),
    0 17px 50px 0 rgba(0, 0, 0, .19);
}

.register-page .register-form {
  max-width: 300px;
}

.register-page .register-form-forgot {
  float: right;
}

.register-page .register-form-button {
  width: 100%;
}
